.Top {
background-color : salmon;
height: 200px;
}

#Top_title {
color: white;
font-size: 30pt;
text-align: center;
padding-top: 70px;
font-family: "Arial";

}
#Top_text {
color: white;
font-size:14pt;
text-align: center;
font-family: "Arial";
margin-top: -10px;

}


.list {
background-color: rgb(226,226,226);
height:200px;
width: 25%;
border-radius: 10px;

display: inline-block;
margin-top: 40px;
margin-bottom: 20px;
margin-left: 6%;

}

#title_list {
text-align: center;
margin-top: 50px;
font-family: "Arial";
font-size: 12pt;

}

#text_list {
  text-align: center;
  font-family: "Arial";
  font-size: 10pt;
  padding-right:20px;
  padding-left: 10px;
  padding-right:10px;

}
#font {
  background-color: rgb(180,180,180);
  margin: 3px;
  height: 15px;
}

.bottom {
background-color: salmon;
height: 100px;

}
#bottom_text{
  color: black;
  font-size: 8pt;
  padding-top: 20px;
  text-align: center;
  font-family: "Arial";
}
input {
position:absolute;
margin-left: 8%;
margin-top: -2px;
display:block;
}

@media only screen and (max-width:768px) {

.list {
width: 45%;
margin-left:2%;
}
}

@media only screen and (max-width:576px) {

.list {
width: 90%;
margin-left: 2%;
}
}
